
@page 
@model BookFpt.Areas.Identity.Pages.Users.UserModel
@{
    ViewData["Title"] = "DANH SÁCH NGƯỜI DÙNG";
}

<h4>@ViewData["Title"]</h4>

<table class="table table-striped">
    <tr>
        <th>UserName</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.RoleNames</td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@user.Id" class="btn btn-primary btn-sm"
                        asp-page="./AddUserRole">
                        Cập nhật Role
                    </button>
                </form>
            </td>
        </tr>

    }
</table>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
   


